.abnb-container * {
    font-family: Poppins, sans-serif;
}

.abnb-container {
    background-color: white;
    width: 550px;
    height: 853px;
    border-radius: 10px;
}

.abnb-navbar {
    height: 70px;
    width: 100%;
    top: 0;
    display: flex;
    align-items: center;
    box-shadow: 0px 2px 5px lightgray;
    border-radius: 10px 10px 0 0;
}

.abnb-logo {
    margin-left: 1rem;
}

.abnb-hero {
    display: flexbox;
    padding: 2rem;
}

.abnb-group77 {
    width: 80%;
    margin-left: 8%;
}

.abnb-container h1 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 0;
}

.abnb-introduction {
    margin-top: 0;
    max-width: 65%;
    font-size: 16px;
    font-weight: 300;
}

.abnb-cards {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.abnb-card {
    display: flex;
    flex-direction: column;
    width: 176px;
    max-height: auto;
    margin : 0 1rem;
    position: relative;
}

.abnb-card-badge {
    position: absolute;
    top: 6px;
    left: 6px;
    background-color: white;
    padding: 5px 7px;
    border-radius: 2px;
    font-weight: bold;
}

.abnb-rating p {
    margin: 0 .1rem;
}

.abnb-card-image {
    margin-bottom: 0;
}

.abnb-rating {
    display:flex;
    justify-content: left;
    align-items: center;
    font-size: 12px;
    font-weight: 300;
    margin-top: 0.25rem;
}

.abnb-star {
    height: 14px;
    width: auto;
    margin-right: .25rem;
}

.abnb-ratings-count, .ratings-location {
    color: #918E9B;
    margin-left: .125rem;
}

.abnb-description {
    font-size: 11px;
    font-weight: 300;
    line-height: 110%;
    margin-top: .2rem;
    margin-bottom: 0.2rem;
}

.abnb-prices {
    font-size: 12px;
    display: flex;
}

.abnb-prices p {
    margin: 0 .2rem 0 0;
}

.abnb-price {
    font-weight: 600;
}