rf-container {
  font-family: 'Inter', sans-serif;
  margin-top: 2rem;
}

.rf-navbar {
  background-color: #21222A;
  display: flex;
  align-items: center;
  padding: 30px 25px; 
  justify-content: space-between;
  height: 2rem;
  left: 0;
  top: 0;
}

.rf-logo {
	width: 30px;
	margin-right: 10px;
}

.rf-title {
  font-weight: 700;
  font-size: 22px;
  color: #61DAFB;
  font-style: normal;
  margin-right: auto;
}

.rf-extra-title {
  color: #DEEBF8;
  text-align: right;
  font-weight: 600;
  font-size: 18px;
}

.rf-main {
  height: 450px;
  padding: 0 40px;
  background-color: #282D35;
}

.rf-main-title {
  color: white;
  padding-top: 40px;
  font-weight: 700;
  font-size: 40px;
  margin: 0;
}

.rf-list {
  font-size: 16px;
  color: white;
  line-height: 20px;
  padding-top: 20px;
}

.rf-list li {
  padding: 10px;
}

.rf-list li::marker {
  color: #61DAFB;
  font-size: 1.4rem;
}

.rf-container body  {
  width: 600px;
}