.tg-main {
	height: 380px;
	width: 360px;
	background-color: #B0916E;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: Libre Franklin, sans-serif;
	color: #000000;
}

.tg-game-container {
	height: 320px;
	width: 320px;
	border: 5px solid black;
	border-radius: 10px;
	box-shadow: #000000 4px 4px;
	background-color: #00afce;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.tg-header {
	position: fixed;
	top: 31px;
	border-radius: 10px 10px 0 0;
	background-color: #ffe600;
	height: 40px;
	width: 316px;
	border: 3px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
}

.tg-header h1{
	padding: 0;
}

.tg-game {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.tg-title {
	color: #000000;
	font-size: 26px;
	text-align: center;
	margin: 0;
	font-family: Libre Franklin, sans-serif;
	letter-spacing: -1px;
	text-decoration: underline;
}

.tg-rules {
	font-size: 14px;
	font-weight: 700;
	text-align: center;
	width: 230px;
	margin: 0;
}

.tg-dice {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 1rem;
	margin: 1.5rem;
}

.tg-die {
	width: 36px;
	height: 36px;
	background-color: #ffffff;
	color: #000000;
	font-family: Libre Franklin, sans-serif;
	font-weight: 900;
	font-size: 21px;
	border: 1;
	border-radius: 5px;
	box-shadow: black 2px 2px;
	cursor: pointer;
	transition: all .5s;
}

.tg-die-held {
	width: 36px;
	height: 36px;
	background-color: #ff0000;
	color: #000000;
	font-family: Libre Franklin, sans-serif;
	font-weight: 700;
	font-size: 21px;
	border: 1;
	border-radius: 5px;
	box-shadow: 2px 2px #000000;
	cursor: pointer;
	transition: all .5s;
}

.tg-die:hover {
	background-color: #ff00bf;
}

.tg-button {
	width: 92px;
	height: 36px;
	border: 3px solid black;
	border-radius: 5px;
	background-color: #2200ff;
	color: #FFFFFF;
	font-family: Libre Franklin, sans-serif;
	font-weight: 700;
	font-size: 16px;
	box-shadow: black 1px 2px;
	cursor: pointer;
	transition: all .5s;
}

.tg-button:hover {
	background-color: #ff00bf;
}

.tg-button:focus, .tg-die:focus, .tg-die-held:focus {
	outline: none;
}

.tg-button:active, .tg-die:active, .tg-die-held:active {
	box-shadow: inset 2px 2px #000000;
}