.bc-container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-family: inter, sans-serif;
}

.bc-card {
    display: block;
    width: 317px;
    height: 780px;
    border-radius: 10px;
    background-color: #1A1B21;
}

.bc-picture {
    background-image: url("./Pass.png");
    background-repeat: no-repeat;
    background-size:cover;
    width: 317px;
    overflow: hidden;
    height: 317px;
    border-radius: 10px 10px 0 0;
}

.bc-main {
    margin: 0 2rem;
}

.bc-header {
    text-align: center;
}

.bc-container h1 {
    margin-top: 2rem;
    margin-bottom: 0;
    font-weight: 700;
    font-size: 30px;
}

.bc-container h2, h3, h4, h5, h6 {
    margin-top: 1rem;
    margin-bottom: 0;
}

.bc-role {
    color: #F3BF99;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin-top: .4rem;
}

.bc-link {
    text-decoration: none;
    color: aliceblue;
    font-size: 12px;
}



.bc-buttons {
    margin-top: 1rem;
    display: flex;
    justify-content: space-evenly;
}

.bc-container button {
    height: 34px;
    width: 115px;
    /* margin: 0 1rem; */
    font-size: 14px;
    font-weight: 600;
    padding-left: 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.bc-twitter {
    background-image: url("./twitter.svg");
    background-repeat: no-repeat;
    background-position: 18px;
    background-color: #5093E2;
    color: aliceblue;
    background-size: 15%;
}

.bc-mail {
    background-image: url("./email.png");
    background-repeat: no-repeat;
    background-position: 25px;
    color: #374151;
    background-size: 15%;
}

.bc-container h3 {
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
}

.bc-container p {
    font-size: 10px;
    font-weight: 400;
    line-height: 150%;
}

.bc-footer {
    background-color: #161619;
    position: relative;
    height: 64px;
    bottom: 0;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bc-footlogo {
    height: 25px;
    margin: 0 .7rem;
    filter: brightness(0.4);
}

