body {
  margin: 0;
		font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  left: 50%;
  top: 2%;
  transform: translate(-50%, -0%);
  background-color: #1C1C1C;
  /* color: white; */

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
	monospace;
}

.main-header {
	height: 5rem;
	background-color: blueviolet;
	width: 100%;
}

.app-picker {
	position: absolute;
	left: 50%;
	top: 2%;
	transform: translate(-50%, -0%);
}

.mainapp {
	position: absolute;
	left: 50%;
	/* top: 110%; */
	transform: translate(-50%, 5%);
}

.main-select {
	border-radius: 5px;
}