*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
  margin: 0;
		font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  left: 50%;
  top: 2%;
  transform: translate(-50%, -0%);
  background-color: #830000;
  /* color: white; */

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
	monospace;
}

.main-header {
	height: 5rem;
	background-color: blueviolet;
	width: 100%;
	border: 5px solid black;
	display: flex;
	align-items: center;
	justify-content: center;
}

.picker-label {
	font-family: Libre Franklin, 'Arial Narrow', Arial, sans-serif;
	font-size: 16px;
	font-weight: 900;
	text-align: center;
}

.mainapp {
	position: absolute;
	left: 50%;
	/* top: 110%; */
	transform: translate(-50%, 5%);
}

.main-select {
	border-radius: 5px;
	border: 2px solid black;
	box-shadow: 3px 3px black;
	font-family: Libre Franklin, 'Arial Narrow', Arial, sans-serif;
	font-size: 16px;
	font-weight: 900;
	cursor: pointer;
}

.main-select option {
	font-family: Libre Franklin, 'Arial Narrow', Arial, sans-serif;
	font-size: 16px;
	font-weight: 900;
	box-shadow: 4px 4px black;
}